html {
  background: black;
}

.App {
  color: rgba(255, 255, 255, 0.8);
}

.settings-panel {
  position: absolute;
  width: 250px;
}

@media (max-width: 900px) {
  .settings-panel {
    position: static;
  }

  .App {
    display: flex;
    flex-direction: column-reverse;
  }
}
